html {
box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
padding: 0; margin: 0;
}
html,body{
display: block;
height: 100%; width: 100%;
/*overflow: hidden;*/
}
ul,li,a{
margin: 0; padding: 0;
list-style: none;
text-decoration: none;
}

/* Main */

.main, .main-header, .main-contener, .main-footer {

  width: 100%;
}

.main {
  height:100%;
}

.main-header {

display: inline-block;
font-family: sans-serif;
height: 200px;
background-color: #333;
position:fixed;
margin-top: 0;
}

.logo {
  margin: 0;
  float: left;
}

.name {
  width: 100%;
  color: white;
  vertical-align: top;
  width: auto;
  position: relative;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 50px;
  text-align: center;
  text-shadow: 4px 4px black;
}



.main-header ul {
  margin: 0;
  background-color: #333;
  opacity: 1;
}

.main-header li {
float: left;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
padding: 60px 10px;
width: 151px;
}

li a:hover {
  background-color: #111;
  border: 1px solid white;
  border-radius: 5px;
}


.main-contener {
  background-color: 	#212121;
  background-image: url(patterngeometric.jpg);
  background-attachment: fixed;
  color: white;
  font-family: sans-serif;
  padding: 10px 20px;
  padding-top: 200px; /* test fixer problèmes ancres */
}

a.anchor {
    display: block;
    position: relative;
    top: -200px;
    visibility: hidden;
}

#presentation, #competences, #experiences, #futur, #form, #hobbies, #formations {
  display: block;
  background-color: #333;
  padding: 20px;
  margin: 5px;
  border: 1px solid white;
  border-radius: 5px;
}

.main-contener li {
  list-style: circle;
}

.main-contener a {
  color: 		#bdbdbd;
}

#form {
display:block;
margin-left: auto;
margin-right: auto;
border: 1px solid white;
border-radius: 5px;
max-width: 600px;
text-align: center;
}

.main-footer {
  font-family: sans-serif;
  height: 50px;
  background-color: #333;
  color: white;
  text-align: center;
  bottom: 0;
  padding: 15px;
  border: 1px solid white;
  border-radius: 5px;
}

label {
  display:inline-block;
  width: 90px;
  text-align: left;
}

input, textarea {
  width: 400px;
  box-sizing: border-box;
  border: 1px solid #999;
}

textarea {
  vertical-align: top;
}

.button {
  padding-left: 90px;
}
