html {
box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
padding: 0; margin: 0;
}
html,body{
display: block;
height: auto; width: 100%;
/*overflow: hidden;*/
}
ul,li,a{
margin: 0; padding: 0;
list-style: none;
text-decoration: none;
}

/* Main */

.main, .main-header, .main-contener, .main-footer {

  width: 100%;
}

.main {
  height:100%;
}

.main-header {
display: inline-block;
font-family: sans-serif;
height: 200px;
background-color: #333;
position:fixed;
top: 0;
}

.logo {
   margin: 0;
   float: left;
   overflow:hidden;
   -webkit-border-radius:100px;
   -moz-border-radius:100px;
   border-radius:100px;
   height:190px;
}

.name {
  color: white;
  vertical-align: top;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 40px;
  text-align: center;
  text-shadow: 4px 4px black;
}

/* Style the header: fixed position (always stay at the top) */
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

.blackLine {
  height: 5px;
  width: 100%;
  position: fixed;
  /*position:absolute;*/
  top: 0;
  z-index: 10;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;
}

progress[value]::-webkit-progress-bar {
  background: black;
}

progress[value]::-webkit-progress-value {
  background: white;
}

@media screen and (max-width: 960px) {
  .name  {
    font-size: 25px;
  }
}


.main-header ul {

  background-color: #333;

}

.main-header li {
float: left;

}



li a {
  display: block;
  margin: auto;
  color: white;
  text-align: center;
  padding: 20px 10px;
  width: 130px;
}

@media screen and (max-width: 960px) {
  li a {
    display: inline-block;
    width:auto;
    padding: 1px;
    width: 100px;
  }
}

li a:hover {
  background-color: #111;
  border: 1px solid white;
  border-radius: 5px;
}


.main-contener {
  background-color: 	#212121;
  background-image: url(patterngeometric.jpg);
  background-attachment: fixed;
  color: white;
  font-family: sans-serif;
  padding: 10px 20px;
  padding-top: 200px;
}

h2 {
  text-shadow: 4px 4px black;
}

a.anchor {
    display: block;
    position: relative;
    top: -200px;
    visibility: hidden;
}

#presentation, #competences, #experiences, #futur, #form, #hobbies, #formations {
  display: block;
  background-color: #333;
  padding: 20px;
  margin: 5px;
  border: 1px solid white;
  border-radius: 5px;
}

.main-contener li {
  list-style: circle;
}

.main-contener a {
  color: 		#bdbdbd;
}

a:hover {
  color: white;

}

#form {
display:block;
margin-left: auto;
margin-right: auto;
border: 1px solid white;
border-radius: 5px;
max-width: 600px;
text-align: center;
}

.main-footer {
  font-family: sans-serif;
  height: 50px;
  background-color: #333;
  color: white;
  text-align: center;
  bottom: 0;
  padding: 15px;
  border: 1px solid white;
  border-radius: 5px;
}

label {
  display:inline-block;
  width: 90px;
  text-align: left;
}

input, textarea {
  width: 400px;
  box-sizing: border-box;
  border: 1px solid #999;
}

textarea {
  vertical-align: top;
}

.button {
  padding-left: 90px;
}
